@import "_colores.scss";
@import "_mixins.scss";

$width: 100%;
$font1: 'Bebas Neue', cursive;
$font2: 'Anton', sans-serif;
$text: center;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----general----*/
body{
    background-color: $backGround;
}

header, footer{
    margin-top: 5px;
    width: $width;
    background-color: rgb(36, 35, 35);
}

.logo{
    width: 100%;
}

.logo--img{
    width: 100%;
}

h2{
    text-align: $text;
    color: rgb(186, 24, 27);
    font-family: $font1;
    width: $width;
    padding: 30px;
    font-size: 40px;
}

hr{
    color: antiquewhite;
}

footer{
    margin-top: 150px;
}

.nav-item{
    text-align: center;
}

/*---index---*/
.imagenIndex1{
    width: $width;
    max-width: 600px;
}

.imagenIndex2{
    width: $width;
    max-width: 600px;
}

.sectionImagenes{
    display: flex;
    flex-direction: column;
}

.sectionImagenes__titulosFotos{
    letter-spacing: 2px;
    font-family: $font2;
    text-align: $text;
    color: white;
}

/*----discografia----*/
.sectionDiscografia{
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: space-evenly;
}

.sectionDiscografia__titulosRojos{
    @include titulosDiscografia;
    color: rgb(186, 24, 27);
    font-family: $font2;
    text-align: $text;
}

.sectionDiscografia__titulosGrises{
    @include titulosDiscografia;
    color: grey;
    font-family: $font2;
    text-align: $text;
}

#sectionDiscografia__tituloGrisOscuro{
    @include titulosDiscografia;
    color: rgb(71, 94, 99);
    font-family: $font2;
    text-align: $text;
}

#sectionDiscografia__tituloCeleste{
    @include titulosDiscografia;
    color: rgb(79, 132, 163);
    font-family: $font2;
    text-align: $text;
}

/*------historia------*/
.historiaTitulos{
    text-decoration: underline;
    font-family: $font1;
    letter-spacing: 2px;
    text-align: $text;
    font-size: 20px;
    color: rgba(245, 243, 244, 0.87);
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.historiaParrafos{
    color: grey;
    font-size: 16px;
    line-height: 1.6;
    font-family: $font2;
    text-align: start;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

.hrefHistoria{
    text-decoration: none;
    font-weight: bold;
    color: rgb(173, 173, 173);
}

.hrefHistoria:hover{
    color: antiquewhite;
}

.primerFoto{
    width: 100%;
    height: 224px;
    margin-bottom: 5px;
    
}

.iframeHistoria{
    margin-bottom: 5px;
    width: 100%;
}

/*------galeria------*/
.padreFlexGaleria{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}

.padreFlexGaleria-img img{
    width: $width;
}

.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6, .imagen7{
    padding: 5px;
    transition: .5s;
}

/*------contacto------*/
.form {
    display: flex;
    flex-direction: column; 
    margin-left: 45px;
    margin-right: 45px;
}

.label {
    @include formulario;
    color: antiquewhite;
    text-align: center;
    font-size: 16px;
}

.input {
    @include formulario;}

.input:focus{
    font-size: 18px;
}

select {
    @include formulario;
}

textarea{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.botonesFormulario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 6px;
}

.boton{
    border: 2px solid;
}

.boton:hover{
    background-color: rgb(36, 35, 35);
    color: antiquewhite;
}

.divCheckbox{
    text-align: center;
    margin-bottom: 15px;
}

.labelCheckbox{
    color: antiquewhite;
}

/*----footer------*/
#footer{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

.footer__socialMedia{
    padding: 10px;
}

.socialMedia-item {
    img {
    width: 25px;
    margin: 3px;
    }  
}

.footer__info{
    padding: 10px;

    .info-item {
    font-size: 10px;
    color: whitesmoke;
    text-align: end;
}
}


/*------responsive------*/
@media only screen and (min-width: 768px){
    h2{
        font-size: 50px;
        letter-spacing: 5px;
    }

    .sectionImagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionImagenes__titulosFotos{
        font-size: 30px;
}

    .logo{
        width: 230px;
        height: 160px;
}

/*--discografia--*/
.divInframe{
    display: flex;
    justify-content: center;
}

.sectionDiscografia__titulosRojos, 
.sectionDiscografia__titulosGrises, 
#sectionDiscografia__tituloGrisOscuro, 
#sectionDiscografia__tituloCeleste{
    font-size: 30px;
    letter-spacing: 4px;
} 

.btn{
    margin-left: 20px;
}

/*------historia------*/
.historiaTitulos{
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

.historiaParrafos{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 5px;
    width:$width;
    margin-right: 20px;
    padding: 10px;
}


.sectionHistoria1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(27, 27, 27);
}

.divHistoria1{
    display: flex;
    flex-direction: row;
}

.sectionHistoria2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.divHistoria2{
    display: flex;
    flex-direction: row;
}

.primerFoto{
    width: 400px;
    float: left;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 5px;
}

.sectionHistoria3{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(27, 27, 27);
}

.divHistoria3{
    display: flex;
    flex-direction: row;
}

.iframeHistoria{
    width: 450px;
    height: 250px;
    float: right;
    margin-bottom: 6px;
    margin-left: 20px;
    margin-top: 8px;
}

.sectionHistoria4{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.divHistoria4{
    display: flex;
    flex-direction: row;
}

.sectionHistoria5{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(27, 27, 27);
}

.divHistoria5{
    display: flex;
    flex-direction: row;
}

.videoEpilogue{
    width: 400px;
    float: right;
    margin-bottom: 8px;
    margin-left: 10px;
}

/*----formulario---*/
.label, .input, select {
    margin-left: 180px; 
    margin-right: 180px;
    margin-bottom: 20px;
    height: 35px;
}

.label{
    font-size: 20px;
    margin-left: 180px; 
    margin-right: 180px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.input:focus{
    font-size: 20px;
}

textarea{
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 20px;
}

/*----footer------*/
.footer__socialMedia{
    padding: 20px;
}

.socialMedia-item {
    img {
    width: 35px;
    margin: 10px;
    }  
}

.footer__info{
    padding: 20px;

    .info-item {
    font-size: 20px;
}
}

.nav-item{
    font-size: 15px;
}
}




@media only screen and (min-width: 1024px){
    .sectionImagenes__bloque1{
        margin-left: 50px;
        margin-right: 30px;
    }

    .navegacion a{
        font-size: 30px;
    }

    .sectionDiscografia{
        margin: 40px;
    }

    h2{
        font-size: 65px;
    }

    .nav-item{
        font-size: 20px;
    }

    /*------galeria------*/
    .padreFlexGaleria{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(6, 250px);
        gap: 30px;
        grid-template-areas:
            "imagen1 imagen1 imagen1 imagen1"
            "imagen1 imagen1 imagen1 imagen1"
            "imagen2 imagen2 imagen3 imagen3"
            "imagen4 imagen6 imagen5 imagen5"
            "imagen7 imagen7 imagen7 imagen7"
            "imagen7 imagen7 imagen7 imagen7"
            "imagen7 imagen7 imagen7 imagen7";
            justify-content: center;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    
    .imagen1 {
        grid-area: imagen1;
    }

    .imagen2 {
        grid-area: imagen2;
    }
    
    .imagen2:hover{
        transform: scale(1.5,1.5);
    }
    
    .imagen3 {
        grid-area: imagen3;
    }
    
    .imagen3:hover{
        transform: scale(1.5,1.5);
    }
    
    .imagen4 {
        grid-area: imagen4;
    }
    
    .imagen4:hover{
        transform: scale(2,2);
    }
    
    .imagen5 {
        grid-area: imagen5;
    }
    
    .imagen5:hover{
        transform: scale(1.5,1.5);
    }
    
    .imagen6 {
        grid-area: imagen6;
    }
    
    .imagen6:hover{
        transform: scale(2,2);
    }
    
    .imagen7 {
        grid-area: imagen7;
    }

    .padreFlexGaleria{
        max-width: 1024px;
    }

    /*------index------*/
    .sectionImagenes__bloque1, .sectionImagenes__bloque2{
        display: flex;
        flex-direction: column;
    }
    .sectionImagenes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }

/*------historia------*/
.historiaTitulos{
    text-decoration: underline;
    letter-spacing: 4px;
    font-size: 25px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.historiaParrafos{
    font-size: 20px;
    text-align: justify;
    margin-left: 8px;
    margin-bottom: 8px;
    width:$width;
    padding: 4px;
}

.sectionHistoria1, .sectionHistoria2, .sectionHistoria3, .sectionHistoria4, .sectionHistoria5{
    max-width: 80%;
}

.primerFoto{
    width: 580px;
    height: 460px;
}

.iframeHistoria{
    width: 600px;
    height: 500px;
    margin-left: 20px;
}

.videoEpilogue{
    width: 600px;
    height: 350px;
    margin-top: 10px;
    margin-left: 20px;
}

.fondoGrisHistoria{
    background-color: rgb(27, 27, 27);
}

.mainHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------contacto------*/
.form {
    display: flex;
    flex-direction: column; 
    margin: 0 250px;
}

.label {
    margin-left: 30px; 
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.input {
    margin-left: 30px; 
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;}

.input:focus{
    font-size: 23px;
}

select {
    margin-left: 30px; 
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
}

textarea{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

/*---discografia---*/
.iframeDiscografia{
    width: 80%;
}
}